header {
  display: flex;
  width: 100%;
}

.mainContainer {
  height: 800px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(251, 248, 248);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; /* Utiliser uniquement une déclaration de `justify-content` */
  border: 2px solid black;
  height: 14rem;
  width: 300px;
  margin: 14px;
}

.picture {
  height: auto;
  width: 80%;
  object-fit: contain;
}
